<?xml version="1.0" encoding="UTF-8"?>
<app name="resume">
    <theme name="basic" colour="#fff26b23" />
    <section name="solutions" title="SOLUTIONS" type="web">
        <url>app/web/Solutions.wiki</url>
	</section>
    <section name="about" title="ABOUT" type="web">
        <url>app/web/About.wiki</url>
	</section>
</app>
