<?xml version="1.0" encoding="UTF-8"?>
<app name="resume">
    <theme name="wiki" />
<!--     <section name="test" title="TEST" type="wiki"> -->
<!--         <url>app/wiki/Test.wiki</url> -->
<!--  	</section> -->
    <section name="intro" title="INTRODUCTION" type="wiki">
        <url>app/wiki/Intro.wiki</url>
	</section>
    <section name="highlights" title="CAREER HIGHLIGHTS" type="wiki">
        <url>app/wiki/Highlights.wiki</url>
	</section>
    <section name="qualifications" title="QUALIFICATIONS" type="wiki">
        <url>app/wiki/Qualifications.wiki</url>
	</section>
    <section name="contact" title="CONTACT DETAILS" type="wiki">
        <url>app/wiki/Contact.wiki</url>
	</section>
    <section name="skills" title="SKILLS" type="wiki">
        <url>app/wiki/Skills.wiki</url>
	</section>
    <section name="experience" title="EXPERIENCE" type="wiki">
        <url>app/wiki/Experience.wiki</url>
	</section>
    <section name="about" title="ABOUT" type="wiki">
        <url>app/wiki/About.wiki</url>
	</section>
</app>
